<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>EOS</title>
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- CSS Files -->
    <link href="assets/css/aos.css" rel="stylesheet" />
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/css/glightbox.min.css" rel="stylesheet" />
    <link href="assets/css/style.css" rel="stylesheet" />
    <link href="assets/css/info.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="assets/fontawesome-free-6.2.1-web/css/all.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular-route.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/angular-async-await@1.1.2/dist/angular-async-await.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/crypto-js@4.0.0/crypto-js.min.js"></script>
    <script src="assets/js/info.js"></script>
  </head>
  <body ng-app="myApp" ng-controller="myCtrl" ng-init="loadData()">
    <header id="header" class="fixed-top header-inner-pages">
      <div class="container d-flex align-items-center">
        <h1 class="logo me-auto"><a href="has-login.html">EOS</a></h1>

        <nav id="navbar" class="navbar">
          <ul>
            <li>
              <a class="nav-link scrollto active" href="has-login.html"
                >Trang chủ</a
              >
            </li>
            <li>
              <a class="nav-link scrollto" href="has-login.html#about"
                >Giới thiệu</a
              >
            </li>
            <li>
              <a class="nav-link scrollto" href="has-login.html#contact"
                >Góp ý và Liên hệ</a
              >
            </li>
            <li>
              <a class="nav-link scrollto" href="has-login.html#faq">Hỏi đáp</a>
            </li>
            <li>
              <a class="nav-link scrollto" href="has-login.html#subject-list"
                >Danh mục môn học</a
              >
            </li>
            <li class="dropdown">
              <a href="#"
                ><span>Thi trắc nghiệm</span>
                <i class="fa-solid fa-chevron-down"></i
              ></a>
              <ul>
                <li>
                  <a href="#" id="AGILE" ng-click="saveSubject($event)"
                    >Quản lý dự án Agile</a
                  >
                </li>
                <li class="dropdown">
                  <a href="#"
                    ><span>Lập trình Java</span>
                    <i class="bi bi-chevron-right"></i
                  ></a>
                  <ul>
                    <li>
                      <a href="#" id="JAVA1" ng-click="saveSubject($event)"
                        >Lập trình Java 1</a
                      >
                    </li>
                    <li>
                      <a href="#" id="JAVA2" ng-click="saveSubject($event)"
                        >Lập trình Java 2</a
                      >
                    </li>
                    <li>
                      <a href="#" id="JAVA3" ng-click="saveSubject($event)"
                        >Lập trình Java 3</a
                      >
                    </li>
                    <li>
                      <a href="#" id="JAVA4" ng-click="saveSubject($event)"
                        >Lập trình Java 4</a
                      >
                    </li>
                    <li>
                      <a href="#" id="JAVA5" ng-click="saveSubject($event)"
                        >Lập trình Java 5</a
                      >
                    </li>
                    <li>
                      <a href="#" id="JAVA6" ng-click="saveSubject($event)"
                        >Lập trình Java 6</a
                      >
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#" id="KTPP" ng-click="saveSubject($event)"
                    >Nhập môn kỹ thuật phần mềm</a
                  >
                </li>
                <li>
                  <a href="#" id="NMLT" ng-click="saveSubject($event)"
                    >Nhập môn lập trình</a
                  >
                </li>
                <li>
                  <a href="#" id="TH" ng-click="saveSubject($event)"
                    >Tin học cơ sở</a
                  >
                </li>
              </ul>
            </li>
            <li>
              <a class="nav-link" href="#"
                ><img
                  ng-src="{{image}}"
                  id="infoimage"
                  alt=""
                  width="24px"
                  height="24px"
              /></a>
            </li>
            <li>
              <a class="nav-link" href="index.html">Đăng xuất</a>
            </li>
          </ul>
          <i
            class="fa-solid fa-bars mobile-nav-toggle"
            id="mobile-nav-toggle"
          ></i>
        </nav>
        <!-- .navbar -->
      </div>
    </header>
    <div ng-view></div>
    <footer id="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6 footer-contact">
              <h3>EOS</h3>
              <p>
                Số 288, Nguyễn Văn Linh, phường An Khánh, quận Ninh Kiều, Tp.
                Cần Thơ. <br />
                <strong>Điện thoại:</strong> (0292) 7300 468<br />
                <strong>Email:</strong> daotaopolyct@fe.edu.vn<br />
              </p>
            </div>
  
            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Liên kết hữu ích</h4>
              <ul>
                <li><a href="has-login.html">Trang chủ</a></li>
                <li><a href="has-login.html#about">Giới thiệu</a></li>
                <li><a href="has-login.html#contact">Góp ý và Liên hệ</a></li>
                <li><a href="has-login.html#faq">Hỏi đáp</a></li>
              </ul>
            </div>
  
            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Dịch vụ</h4>
              <ul>
                <li><a href="#">Thi trắc nghiệm</a></li>
                <li><a href="has-login.html#subject">Học online</a></li>
                <li><a href="has-login.html#subject">Đăng ký môn học</a></li>
                <li><a href="signup.html">Đăng ký tài khoản</a></li>
              </ul>
            </div>
  
            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Mạng xã hội</h4>
              <p>
                Các bạn có thể tương tác với tôi thông qua các trang mạng xã hội
                bên dưới
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="fa-brands fa-twitter"></i></a>
                <a href="#" class="facebook"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#" class="instagram"><i class="fa-brands fa-instagram"></i></a>
                <a href="#" class="google-plus"><i class="fa-brands fa-google-plus-g"></i></a>
                <a href="#" class="tiktok"><i class="fa-brands fa-tiktok"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <div id="preloader"></div>
    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="fa-solid fa-arrow-up"></i
    ></a>
    <!-- JS Files -->
    <script src="assets/js/aos.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/bootstrap-show-toast.js"></script>
    <script src="assets/js/glightbox.min.js"></script>
    <script src="assets/js/isotope.pkgd.min.js"></script>
    <script src="assets/js/swiper-bundle.min.js"></script>
    <!--  Main JS File -->
    <script src="assets/js/main.js"></script>
  </body>
</html>
